venv
smartsuite/__pycache__/*
accounts/__pycache__/*
accounts/migrations/*
api/__pycache__/*
api/migrations/*
courses/__pycache__/*
courses/migrations/*
batch/__pycache__/*
batch/migrations/*
departments/migrations/*
semesters/migrations/*
departments/__pycache__/*
semesters/__pycache__/*
subjects/__pycache__/*
subjects/api/migrations/*
subjects/api/__pycache__/*
SmartSuite.postman_collection.json
qodana.yaml
requirements.txt
vercel.json
build_files.sh
**/migrations/*
**/__pycache__/*
.env

*/__pycache__/*.py
!*/__pycache__/__init__.py

*/migrations/*.py
!*/migrations/__init__.py

**migrations/*
**__pycache__/*

subjects/api/gpts.py

db.sqlite3
app.log
README.md
