absl-py
aiohttp
aiosignal
amqp
annotated-types
anyio
APScheduler
asgiref
asttokens
astunparse
attrs
billiard
chardet
pdfplumber
openai==0.28
celery
certifi
cffi
chardet
charset-normalizer
click
click-didyoumean
click-plugins
click-repl
colorama
comm
contourpy
coverage
cryptography
cycler
dataclasses-json
debugpy
decorator
defusedxml
distlib
distro
dj-database-url
Django
django
docx
django-autocomplete-light
django-cors-headers
django-countries
django-filter
django-phonenumber-field
django-templated-mail
djangorestframework
djangorestframework-simplejwt
djhacker
djoser
executing
filelock
flatbuffers
fonttools
frozenlist
gast
google-pasta
greenlet
grpcio
gunicorn
h11
h5py
httpcore
httpx
idna
iniconfig
ipykernel
ipython
jedi
joblib
jsonpatch
jsonpointer
kiwisolver
kombu
Markdown
markdown-it-py
MarkupSafe
multidict
mypy-extensions
namex
nest-asyncio
oauthlib
openai==0.28.0
opt-einsum
optree
orjson
packaging
phonenumbers
pillow
platformdirs
pluggy
prompt_toolkit
protobuf
psutil
psycopg2-binary
pure-eval
pycparser
pydantic
pydantic_core
Pygments
PyJWT
pyparsing
PyPDF2
pytest
pytest-cov
pytest-django
python-dateutil==2.9.0.post0
python-dotenv
python3-openid
python-docx
pytz==2024.1
PyYAML
pyzmq
requests
requests-oauthlib
rich
scikit-learn
scipy
seaborn
setuptools
six
sniffio
SQLAlchemy
sqlparse
stack-data
tenacity
tqdm
traitlets
typing-inspect
typing_extensions
tzdata
tzlocal
urllib3
vine
virtualenv
wcwidth
Werkzeug
wheel
wrapt
yarl
