absl-py
amqp
annotated-types
anyio
APScheduler
asgiref
asttokens
astunparse
attrs
billiard
chardet
pdfplumber
openai==0.28
certifi
chardet
charset-normalizer
click
click-didyoumean
click-plugins
click-repl
colorama
cycler
distlib
distro
dj-database-url
Django
django
docx
django-autocomplete-light
django-cors-headers
django-countries
django-filter
django-phonenumber-field
django-templated-mail
djangorestframework
djangorestframework-simplejwt
djhacker
djoser
executing
filelock
flatbuffers
fonttools
frozenlist
gunicorn
idna
iniconfig
ipykernel
ipython
jedi
joblib
jsonpatch
jsonpointer
kiwisolver
kombu
Markdown
markdown-it-py
MarkupSafe
mypy-extensions
namex
nest-asyncio
oauthlib
openai==0.28.0
opt-einsum
optree
orjson
packaging
phonenumbers
pillow
platformdirs
pluggy
prompt_toolkit
protobuf
psutil
pure-eval
pycparser
pydantic
pydantic_core
Pygments
PyJWT
pyparsing
PyPDF2
pytest
pytest-cov
pytest-django
python-dateutil==2.9.0.post0
python-dotenv
python3-openid
python-docx
pytz==2024.1
PyYAML
pyzmq
requests
requests-oauthlib
setuptools
six
sniffio
stack-data
tqdm
traitlets
typing-inspect
typing_extensions
tzdata
tzlocal
urllib3
vine
virtualenv
wcwidth
Werkzeug
wheel
wrapt
yarl
channels
channels-redis
